<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li<%= active_link("dashboard", "main") %>><%= link_to "Overview", dashboard_path %></li>
    <li<%= active_link("dashboard", "team") %>><%= link_to "Team", dashboard_team_path %></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li><a href="#">Manage job postings</a></li>
    <li<%= active_link("postings", "new") %>><%= link_to "Create job posting", new_posting_path %></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li><a href="#">Applicant Flow</a></li>
    <li><a href="#">Browse All</a></li>
  </ul>
  <ul class="nav nav-sidebar">
  	<li><a href="#">Overview</a></li>
  	<li><a href="#">Create new</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">Statistics</a></li>
  </ul>
</div>