<% provide(:title, "Sign up lead") %>
<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Sign up lead</h3>
		  </div>
		  <div class="panel-body">

		  	<div class="alert alert-warning" role="alert">
		  		You will act as the team lead for your company. To add members to your company's account, add them through your dashboard after signing up.
		  	</div>

		    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

		    	<%= f.fields_for :company do |builder| %>
		    		<%= render "shared/text_field", f: builder, attribute: :name, args: { placeholder: "Company name", label_class: "control-label" } %>
		    	<% end %>

		    	<%= render "shared/text_field", f: f, attribute: :username, args: { placeholder: "Username", label_class: "control-label" } %>

		      <%= render "shared/text_field", f: f, attribute: :email, args: { placeholder: "Email", label_class: "control-label" } %>

		      <%= render "devise/shared/password_field", f: f, args: {} %>

		      <%= render "devise/shared/password_confirmation_field", f: f, args: {} %>

		      <%= f.submit "Sign up", class: "btn btn-default btn-green btn-bottom" %>
		      
		    <% end %>
		  </div>
		</div>
  </div>
</div>
