<% provide(:title, "Sign in") %>
<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sign in</h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "shared/text_field", f: f, attribute: :email, args: { placeholder: "Email", label_class: "control-label" } %>

          <%= render "devise/shared/password_field", f: f, args: {} %>

          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %>
                Remember me?
              </label>
            </div>
          <% end -%>

          <%= f.submit "Sign in", class: "btn btn-default btn-green" %>
      
        <% end %>
      </div>
    </div>
  </div>
</div>
