<% provide(:title, "Sign up member") %>
<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Sign up member</h3>
		  </div>
		  <div class="panel-body">
		    <%= form_for(@user, url: user_index_path) do |f| %>
		    
		    	<%= render "shared/text_field", f: f, attribute: :username, args: { placeholder: "Username", label_class: "control-label" } %>
		    
		      <%= render "shared/text_field", f: f, attribute: :email, args: { placeholder: "Email", label_class: "control-label" } %>

		      <%= render "devise/shared/password_field", f: f, args: {} %>

		      <%= render "devise/shared/password_confirmation_field", f: f, args: {} %>

		      <%= f.hidden_field :type, value: "Member" %>

		      <%= f.hidden_field :company_id, value: current_user.company.id %>

		      <%= f.submit "Sign up", class: "btn btn-default btn-green btn-bottom" %>
		      
		    <% end %>
		  </div>
		</div>
  </div>
</div>
