<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag "logo-small.png" %></a>
  </div>
  <div class="navbar-collapse collapse">
    <% if user_signed_in? %>
    <div class="navbar-right">
      <p class="navbar-text">
        Signed in as <%= link_to current_user.email, edit_user_registration_path, class: "navbar-link" %>
      </p>
    </div>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><a href="<%= new_user_session_path %>">Sign in</a></li>
      
      <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>-->
      <li><a href="<%= sign_up_path %>">Sign up</a></li>
      <% end %>
    </ul>
  </div><!--/.nav-collapse -->
</div>